<ion-header>
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="chat-content">
  <ion-list>
    <!-- Mensajes -->
    <div
      *ngFor="let mensaje of mensajes"
      [class.emisor]="mensaje.autor === 'yo'"
      [class.receptor]="mensaje.autor !== 'yo'"
      class="mensaje-burbuja"
    >
      <p>{{ mensaje.contenido }}</p>
      <span class="nombre-emisor">
        {{ mensaje.nombre_emisor }} - {{ mensaje.fecha_envio | date:'shortTime' }}
      </span>
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input
      [(ngModel)]="nuevoMensaje"
      placeholder="Escribe un mensaje..."
    ></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="enviarMensaje()" [disabled]="!nuevoMensaje">
        Enviar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
