.payment-background {
  --background: #0c0c0c;
  color: #ffffff;
}

.payment-container {
  margin-top: 30px;
  text-align: center;
}

.payment-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #00ff88;
  margin-bottom: 20px;
}

.lock-icon {
  font-size: 3rem;
  color: #00ff88;
  margin-bottom: 10px;
}

.payment-item {
  --background: #1b1b1b;
  --color: #00ff88;
  border: 1px solid #00ff88;
  border-radius: 10px;
  margin-bottom: 15px;
  color: #00ff88;
}

.payment-item ion-icon {
  color: #00ff88;
}

.confirm-button {
  --background: #00ff88;
  color: #000;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 20px;
}
