<ion-content class="ion-padding payment-background">
  <div class="payment-container">
    <ion-icon name="lock-closed-outline" class="lock-icon"></ion-icon>
    <h1 class="payment-title">Confirmar<br>tu pago</h1>

    <ion-item class="payment-item">
      <ion-icon name="card-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="referencia_pago" label="Referencia:"></ion-input>
    </ion-item>

    <ion-item class="payment-item">
      <ion-icon name="cash-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="valor" type="number" label="Valor:"></ion-input>
    </ion-item>

    <ion-item class="payment-item">
      <ion-icon name="business-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="metodo_pago" label="Método:"></ion-input>
    </ion-item>

    <ion-item class="payment-item">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="nombre_cliente" label="Cliente:"></ion-input>
    </ion-item>

    <ion-item class="payment-item">
      <ion-icon name="id-card-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="documento_cliente" label="Documento:"></ion-input>
    </ion-item>

    <ion-item class="payment-item">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="email_cliente" type="email" label="Email:"></ion-input>
    </ion-item>

    <ion-button expand="block" class="confirm-button" (click)="confirmarPago()">
      Confirmar y pagar
    </ion-button>
  </div>
</ion-content>
